/*color: rgb(142,162,133);*/
/*background-color: rgb(18,15,24);*/

body, html {
	/*overflow: hidden;*/
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: darkmagenta;
	/*text-rendering: optimizeLegibility !important;*/
	/*-webkit-font-smoothing: antialiased !important;*/

}

div, input, button {
	font-family: rale-r;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

ul {
	list-style-type: circle;
	list-style-position: outside;
}

@font-face {font-family: SourceSansPro-Semibold; src: url('fonts/SourceSansPro-Semibold.otf');}
@font-face {font-family: SourceSansPro-Light; src: url('fonts/SourceSansPro-Light.otf');}
@font-face {font-family: SSP-B; src: url('fonts/SourceSansPro-Bold.otf');}
@font-face {font-family: SSP-r; src: url('fonts/SourceSansPro-Regular.otf');}

@font-face {font-family: champ-b; src: url('fonts/fonts/champagne/champagne_limousinesbold.ttf');}
@font-face {font-family: champ-bi; src: url('fonts/fonts/champagne/champagne_limousinesbolditalic.ttf');}
@font-face {font-family: champ-r; src: url('fonts/fonts/champagne/champagnelimousines.ttf');}
@font-face {font-family: robo-b; src: url('fonts/fonts/roboto/robotocondensed-bold.ttf');}
@font-face {font-family: bebas; src: url('fonts/fonts/bebasneue.otf');}
@font-face {font-family: monty; src: url('fonts/fonts/montserrat/montserrat-regular.ttf');}
@font-face {font-family: rale-r; src: url('fonts/fonts/raleway/raleway-regular.ttf');}

@font-face {font-family: gunny; src: url('fonts/fonts/gunny/gnyrwn971.ttf');}
@font-face {font-family: whatever; src: url('fonts/fonts/whatever/whatever_it_takes.ttf');}
@font-face {font-family: whatever-b; src: url('fonts/fonts/whatever/whatever_it_takes_bold.ttf');}

#background {
	position: absolute;
	display: -webkit-flex;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: space-around;
	order: 312;
	width: 98%;
	height: 98%;
	z-index: -1;
	background-color: darkmagenta;
}

#frame1 {
/*	display: -webkit-flex;
    display: flex;*/

	flex-direction: row;
	justify-content: space-around;
	order: 3;

	width: 60%;
	/*min-width: 585px;*/
	height: 510px;

	border-style: solid;
	border-color: black;
	border-width: 0.5px;
	font-family: champ-r;
	/*line-height: 180%;*/
	/*background-color: rgb(245,245,245);*/
	/*background-color: rgb(158,38,158);*/
	background-color: rgb(194,43,194);
	z-index: 1;
	box-shadow: 2px 4px 5px darkmagenta;

	border-radius: 4px;
}

.tododiv {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: darkmagenta;
	margin-left: 1%;
	/*margin-top: 5px;*/
	line-height: 50px;
	z-index: 100;
	display: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: -1;

	color: white !important;
	font-size: 45px;
	vertical-align: text-bottom;
	letter-spacing: 1px;
	font-family: whatever-b;
}

.iddiv {
	height: 34px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: lightgray;
	margin-top: 16px;
	padding-left: 5px;
	z-index: 100;
	background-color: white;
	top: 1px;
	border-left: 1px solid;
	display: none !important;
}

#todos {
	width: 75%;
	height: 100%;
	z-index: 1;
	flex-direction: column;
}

#ids {
	width: 10%;
	height: 100%;
	flex-direction: column;
	display: none;
}

#edts {
	margin-top: 14px;
}

#dlts {
	margin-top: 14px;
	flex-direction: column;
}

#expds {
	margin-top: 14px;
}

#ticks {
	margin-top: 10px;
	flex-direction: column;
}

.edtdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
}

.dltdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
	display: none;
}

.expdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
}

.tckdiv {
	height: 30px;
	width: 30px;
	margin: 6px 4px 12.5px 4px;
	opacity: 0.1;
	border: 1px black solid;
	border-radius: 5px;
	display: none;
}

#submitbutton {
	justify-content: center; 
	min-width: 130px;
	width: 40%;
	height: 70px;
	line-height: 70px;
	order: 2;
	/*font-family: monty;*/
	font-family: bebas;
	letter-spacing: 8px;
	border-color: purple;
	font-size: 50px;
	color: white;
	background-color: purple;
	border-radius: 12px;
	margin: 50px;
	box-shadow: 1px 1px 3px purple;
	text-shadow: 3px 3px 2px rgb(98,3,98);
}

#cms {
	/*font-family: lucida grande;*/
	text-align: left;
	flex-direction: column;
	justify-content: space-around;
	width: 60%;
	order: 1;
	/*background-color: rgb(158,38,158);*/
	background-color: rgb(194,43,194);
	box-shadow: 1px 2px rgb(118,3,118);

	border-radius: 35px;
}

.field {
	padding: 0 0 0 10px !important;
	/*margin-bottom: 10px;*/
	overflow: hidden;
	width: auto;
	border-width: 0px;
	background: none;

	white-space: normal;
	text-overflow: none;

	color: white;
}

.title {
	font-size: 30px;
	font-family: monty;
}

#formcontent1 {
	height: 50px;
	width: 99%;
	font-size: 30px;
	margin-left: 3%;
}

.priority {
	height: 30px;
	width: 120px;
	font-size: 15px;
	background-color: white;
}

#reset {
	position: absolute;
	bottom: 4%;
}

h1 {
	order: 0;
	color: white;
	font-family: bebas;
	font-size: 90px;
	letter-spacing: 8px;
	word-spacing: 12px;
	margin: 40px;
	text-shadow: 5px 5px 2px rgb(118,3,118);
}

.sav {
	width: 100%;
	height: 100%;
	display: none;
}

.savBtn {
	width: 40%;
	margin-top: 20px;
}

#savs {
	display: none;
	width: 60px;
}

#mask1 {
	width: 100%;
	height: 100%;
	opacity: 0.25;
	z-index: -5;
	display: none;
	position: fixed;
}

#summary {
	position: absolute;
	bottom: 8%;
	border: 2px;
	border-style: solid;
	border-color: black;
	padding: 4px 10px 4px 10px;
	display: none;
}

#features {
	position: absolute;
	/*bottom: 12%;*/
	bottom: 8%;
	border: 2px;
	border-style: solid;
	border-color: black;
	padding: 4px 10px 4px 10px;
}

#feat1 {
	position: absolute;
	height: 0px;
	width: 3px;
	bottom: 5%;
	left: 5%;
	border: 3px;
	border-style: solid;
	border-color: black;
	display: none;
	z-index: 1;
	box-shadow: 2px 4px 5px #888888;
}

#closeFeat {
	position: relative;
	width: 30px;
	left: 90%;
	top: 1%;
	opacity: 1.0;
	float: both;
}

.strikethrough {
	  text-decoration: line-through;
}

#featLs {
	position: absolute;
	border: 2px;
	border-style: solid;
	border-color: black;
	width: 75%;
	left: 5%;
	margin: 10px 10px 10px 20px;
	font-family: helvetica;
	font-size: 15px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-top: 10px;
	list-style-type: circle;
	list-style-position: inside;
	display: list-item;
}

#featTitle {
	margin: 20px 10px 10px 20px;
	font-size: 32px;
	font-family: helvetica;
}

#featBackground {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.89;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.featCont {
	opacity: 1;
}

@media screen and (max-width: 1200px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
	body, html {
		height: auto !important;
		/*overflow: auto;*/
		overflow-y: auto;
		overflow-x: hidden;
	}

	h1 {
		font-size: 120px;
		text-shadow: 10px 10px 5px rgb(118,3,118);
	}

	#background {
		flex-direction: column;
		height: auto;
	}
	#frame1 {
		/*position: absolute;*/
		height: 1012px;
		width: 95%;
		order: 2;
		font-size: 40px;
		top: 73px;
		left: 0px;
		margin-top: 84px;
		margin-bottom: 40px;
	}

	#cms {
		width: 95%;
		margin: 50px 10px;
		box-shadow: 3px 5px rgb(118,3,118);
		
		align-items: center;
	}

	.field {	
	}

	.title {
		font-size: 30px;
	}

	#formcontent1 {
		font-size: 50px;
		width: 80%;
		height: 100px;
	}

	#priority {
		font-size: 50px;
		font-family: SSP-r;
	}

	option {
		font-size: 20px;
	}

	#savs {
		min-width: 92px;
	}

	#submitbutton {
		width: 80%;
		height: 200px;
		line-height: 200px;
		margin: 0px 0px 50px 0px;
		font-size: 120px;
		letter-spacing: 11px;
		text-shadow: 8px 8px 5px rgb(98,3,98);
		border-radius: 20px;
	}

	.tododiv {
		height: 100.5px;
		line-height: 100.5px;
		font-size: 40px;
		width: 90%;
		white-space: normal;
		vertical-align: center;
	}

	.tckdiv, .iddiv, .dltdiv {
		height: 80px;
		width: 80px;
	}

	.savBtn {
		width: 40px;
	}

	#summary, #features, #reset {
		display: none;
	}

	#formcontent2 {
		/*display: none !important;*/
	}

	#formcontent3 {
		/*display: none !important;*/
	}

}