/*color: rgb(142,162,133);*/
/*background-color: rgb(18,15,24);*/

body, html {
	/*overflow: hidden;*/
	overflow-y: scroll;
	overflow-x: hidden;
}

div, input, button {
	font-family: SSP-r;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

ul {
	list-style-type: circle;
	list-style-position: outside;
}

@font-face {font-family: SourceSansPro-Semibold; src: url('fonts/SourceSansPro-Semibold.otf');}
@font-face {font-family: SourceSansPro-Light; src: url('fonts/SourceSansPro-Light.otf');}
@font-face {font-family: SSP-B; src: url('fonts/SourceSansPro-Bold.otf');}
@font-face {font-family: SSP-r; src: url('fonts/SourceSansPro-Regular.otf');}

#background {
	position: absolute;
	display: -webkit-flex;
    display: flex;
	align-items: center;
	justify-content: space-around;
	order: 312;
	width: 98%;
	height: 98%;
	z-index: -1;
}

#frame1 {
/*	display: -webkit-flex;
    display: flex;*/

	flex-direction: row;
	justify-content: space-around;
	order: 3;

	width: 400px;
	height: 510px;

	border-style: solid;
	border-color: black;
	border-width: 100%;
	font-family: lucida sans typewriter;
	line-height: 180%;
	background-color: rgb(245,245,245);
	z-index: 1;
	box-shadow: 2px 4px 5px #888888;
}

.tododiv {
	height: 34px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: rgb(221,160,221);
	margin-left: 1%;
	margin-top: 16px;
	z-index: 100;
	background-color: white;
	display: none;
	white-space: nowrap;
	z-index: -1;
}

.iddiv {
	height: 34px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: lightgray;
	margin-top: 16px;
	padding-left: 5px;
	z-index: 100;
	background-color: white;
	top: 1px;
	border-left: 1px solid;
	display: none;
}

#todos {
	width: 60%;
	height: 100%;
	z-index: 1;
	flex-direction: column;
}

#ids {
	width: 10%;
	height: 100%;
	flex-direction: column;
}

#edts {
	margin-top: 14px;
}

#dlts {
	margin-top: 14px;
	flex-direction: column;
}

#expds {
	margin-top: 14px;
}

#ticks {
	margin-top: 10px;
	flex-direction: column;
}

.edtdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
}

.dltdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
	display: none;
}

.expdiv {
	height: 34px;
	margin: 0px 0px 16px 0px;
	border-left: 1px solid;
}

.tckdiv {
	height: 30px;
	width: 30px;
	margin: 6px 4px 12.5px 4px;
	opacity: 0.1;
	border: 1px black solid;
	border-radius: 5px;
	display: none;
}

#submitbutton {
	justify-content: center; 
	width: 130px;
	height: 60px;
	order: 2;
	/*font-family: monaco;*/
	font-size: 18pt;
	color: white;
	background-color: purple;
	border-radius: 12px;
	margin: 50px;
	box-shadow: 1px 1px 3px #888888;
}

#cms {
	/*font-family: lucida grande;*/
	text-align: left;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	/*background-color: green;*/
}

.field {
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	border-color: black;
	overflow: hidden;
	width: 100%;
	color: #909090;
}

.priority {
	height: 30px;
	width: 120px;
	font-size: 15px;
	background-color: white;
}

#reset {
	position: absolute;
	bottom: 4%;
}

h1 {
	position: absolute;
	/*background-color: gray;*/
	color: black;
	font-family: arial;
}

.sav {
	width: 100%;
	height: 100%;
	display: none;
}

.savBtn {
	width: 40%;
	margin-top: 20px;
}

#savs {
	display: none;
	width: 60px;
}

#mask1 {
	width: 100%;
	height: 100%;
	opacity: 0.25;
	z-index: -5;
	display: none;
	position: fixed;
}

#summary {
	position: absolute;
	bottom: 8%;
	border: 2px;
	border-style: solid;
	border-color: black;
	padding: 4px 10px 4px 10px;
}

#features {
	position: absolute;
	bottom: 12%;
	border: 2px;
	border-style: solid;
	border-color: black;
	padding: 4px 10px 4px 10px;
}

#feat1 {
	position: absolute;
	height: 0px;
	width: 3px;
	bottom: 5%;
	left: 5%;
	border: 3px;
	border-style: solid;
	border-color: black;
	display: none;
	z-index: 1;
	box-shadow: 2px 4px 5px #888888;
}

#closeFeat {
	position: relative;
	width: 30px;
	left: 90%;
	top: 1%;
	opacity: 1.0;
	float: both;
}

.strikethrough {
	  text-decoration: line-through;
}

#featLs {
	position: absolute;
	border: 2px;
	border-style: solid;
	border-color: black;
	width: 75%;
	left: 5%;
	margin: 10px 10px 10px 20px;
	font-family: helvetica;
	font-size: 15px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-top: 10px;
	list-style-type: circle;
	list-style-position: inside;
	display: list-item;
}

#featTitle {
	margin: 20px 10px 10px 20px;
	font-size: 32px;
	font-family: helvetica;
}

#featBackground {
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.89;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.featCont {
	opacity: 1;
}

@media screen and (max-width: 1200px) and (min-width: 801px) and (min-height: 1000px) and (orientation: portrait) {
	body, html {
		height: auto !important;
		/*overflow: auto;*/
		overflow-y: auto;
		overflow-x: hidden;
	}

	#background {
		flex-direction: column;
		height: auto;
	}
	#frame1 {
		/*position: absolute;*/
		height: 1012px;
		width: 95%;
		order: 0;
		font-size: 40px;
		top: 73px;
		left: 0px;
		margin-top: 84px;
	}

	#cms {
		/*position: absolute;*/
		/*bottom: 5%;*/
		height: 800px;
		width: 80%;
		margin: 50px 10px;
		font-size: 30px;
	}

	.field {
		font-size: 50px;
		border-radius: 8px;
		border-width: 4px;
		border-color: black;
		margin-bottom: 19px;
		margin-top: -10px;
		width: 100%;
	}

	#priority {
		font-size: 50px;
		font-family: SSP-r;
	}

	option {
		font-size: 20px;
	}

	#submitbutton {
		/*position: absolute;*/
		/*bottom: 5%;*/
		width: 50%;
		height: 300px;
		margin: 0px 0px 50px 0px;
		font-size: 90px;
	}

	.tododiv {
		height: 80px;
		width: 400px;
		vertical-align: center;
	}

	.tckdiv, .iddiv, .dltdiv {
		height: 80px;
		width: 80px;
	}

	.savBtn {
		width: 40px;
	}

	#summary, #features, #reset {
		display: none;
	}

	#formcontent2 {
		/*display: none !important;*/
	}

	#formcontent3 {
		/*display: none !important;*/
	}

}